{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block formFilterForm %}
    <div id="filters" class="well clearfix collapse">
        {{ form_start(filterForm) }}
		    <div class="row">
		        <div class="col-md-4">
        			{{ form_row(filterForm.apellido) }}
        		</div>
        		<div class="col-md-4">
        			{{ form_row(filterForm.email) }}
        		</div>
        		<div class="col-md-4">
        			{{ form_row(filterForm.presentatrabajo) }}
        		</div>
        	</div>
        	<div class="row">
		        <div class="col-md-4">
        			{{ form_row(filterForm.categoria) }}
        		</div>
        		<div class="col-md-4">
        			{{ form_row(filterForm.area) }}
        		</div>
        		<div class="col-md-4">
        			{{ form_row(filterForm.provincia) }}
        		</div>
        	</div>
        {{ form_end(filterForm) }}
    </div>
{% endblock %}

{% block actions %}
	{{ parent() }}
    <a class="glyphicon glyphicon-file tooltips" href="{{ path('inscripcion_pdf', { 'id': entity.id }) }}" title="Imprimir PDF" rel="tooltip" data-original-title="Imprimir PDF" style="color: red;"></a>
{% endblock actions %}