<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            p {
                margin-top: 10px;
                height: 0px;
                font-size: 20px;
            }
            th p {
                float: left;
            }
            .content {
                background-color: #fff;
                margin: 0 1em;
                padding-left: 1em;
            }
            .right {
                float: right;
                font-size: 20px;    
            }
            .centrar {
                text-align: center !important;
                float: none !important;
            }
            .text-right {
                text-align: right;
            }
            .text-long {
                font-size: 20px;
                font-weight: bold;
            }
        </style>
    </head>
    <body class="focusedform">
        <div class="right">{{ fecha|localizeddate('full', 'none') }}</div>
        <br>
        <div class="content">
            <div class="centrar">
                <h1 style="color: #4285F4; font-size: 35px"></h1>
                <img src="{{ absolute_url(asset('bundles/sistemainscripcion/images/logo.png')) }}" alt="" width="600px;"/>
                <div style="width: 12em; margin: 0 auto;">
                    <strong>Inscripcion Nro. {{ 'ORDEN_' ~ entity.id }}</strong>
                </div>
            </div>
            <div>
                <h3>Profesional Inscripto:</h3>
                <hr>
                <table style="width:100%" border="0">
                    <tr>
                        <td colspan="4"><p><strong>Apellido y Nombre:</strong> {{ entity.getApellidoyNombre() }}</p></td>
                        <td colspan="4"><p><strong>Nro. Matricula:</strong> {{ entity.getMatriculaEst }}</p></td>
                    </tr>
                    <tr>
                        <td colspan="4"><p><strong>Email:</strong> {{ entity.email }}</p></td>
                        <td colspan="4"><p><strong>Provincia:</strong> {{ entity.provincia }}</p></td>
                    </tr>
                    <tr>
                        <td colspan="4"><p><strong>Fecha de Nacimiento:</strong> {{ entity.fechanac|localizeddate('medium','none', null, null, "d LLLL yyyy") }}</p></td>
                        <td colspan="4"><p><strong>Telefono:</strong> {{ entity.telefono }}</p></td>
                    </tr>
                </table>  
            </div>
            <br></br>
            <div>
                <h3>Detalle de Inscripción:</h3>
                <hr>
                <table style="width:100%" border="0">
                    <tr>
                        <td colspan="6"><p><strong>Categoria:</strong> {{ entity.categoria }}</p></td>
                        <td colspan="6"><p><strong>Área:</strong> {{ entity.area }}</p></td>
                    </tr>
                    <tr>
                        <td colspan="6"><p><strong>Tipo de Pago:</strong> {{ entity.getTipoTrab() }}</p></td>
                        <td colspan="6"><p><strong>Hotel:</strong> {{ entity.hotel }}</p></td>
                    </tr>
                    {% if entity.menu %}
                        <tr><td colspan="4"><p></p></td></tr>
                        <tr>
                            <td colspan="12"><p><strong>Menu Especial:</strong> "{{ entity.menu }}"</p></td>
                        </tr>
                    {% endif %}
                </table>  
            </div>
            <br></br>
            <div class="right">
                <table style="width:100%" border="0">
                    <tr>
                        <td colspan="4"><p><strong>IMPORTE TOTAL:</strong> ${{ entity.importe }}</p></td>
                    </tr>
                </table>  
            </div>
            <div>
                <br></br><br></br><br></br><br></br><br></br><br></br>
                <h3 class="centrar">Recuerde que la inscripción se hará efectiva una vez abonado el monto total en su Consejo de origen, y las reservas y pagos del hotel deberán hacerse personalmente.</h3>
            </div>
            <div class="right">
                <table style="width:100%" border="0">
                    <tr><td colspan="4"><p></p></td></tr>
                    <tr><td colspan="4"><p></p></td></tr>
                    <tr>
                        <td colspan="4"><p>.................................</p></td>
                    </tr>
                    <tr>
                        <td colspan="4"><p><strong>Firma y Aclaración</strong></p></td>
                    </tr>
                </table>  
            </div>
        </div>  
    </body>
</html>