{% if parameterRoot is not defined %}
    {% set parameterRoot = null %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}
            {{ 'views.layout.bannersadmin'|trans({}, 'MWSimpleAdminCrudBundle') }}
        {% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/mwsimpleadmincrud/bootstrap/css/' ~ admincrud_config('site_theme', parameterRoot) ~ '.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/mwsimpleadmincrud/select2/css/select2.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/mwsimpleadmincrud/admin2/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/mwsimpleadmincrud/admin2/css/timeline.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/mwsimpleadmincrud/admin2/css/sb-admin-2.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/mwsimpleadmincrud/admin2/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('bundles/mwsimpleadmincrud/toastr/toastr.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/mwsimpleadmincrud/css/base-mws.css') }}" rel="stylesheet">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% block head_javascript %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/select2/js/select2.min.js') }}"></script>
            <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/toastr/toastr.min.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <script type="text/javascript">
                    toastr.{{ type }}("{{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}")
                </script>
            {% endfor %}
        {% endfor %}
        <div id="wrapper">
            <div class="container">
                <div class="row">
                    {% block page %}{% endblock %}
                </div>
            </div>
            <!-- Footer -->
            <footer>
                <div class="container">
                    {% block footer %}
                        {% if admincrud_config('site_view_footer', parameterRoot) %}
                            {% include admincrud_config('site_view_footer', parameterRoot)|raw %}
                        {% endif %}
                    {% endblock %}
                </div>
            </footer>
        </div>

        {% block javascript %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-checkbox.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/admin2/metisMenu/metisMenu.min.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/admin2/js/sb-admin-2.js') }}"></script>
            <script type="text/javascript">
                $('.tooltips').tooltip();
            </script>
        {% endblock %}
    </body>
</html>
