{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block page %}
	<div class="row">
		<img src="http://cpcechaco.org.ar/uploads/cpceweb/archivos/378350f743f1448938d350cef72eeae3e22aafd3.png" alt="" class="img-responsive center-block" width="60%">
		<hr>
	</div>
	<div class="row">
		<h4><u>Para inscribirse, tener en cuenta las siguientes cuestiones:</u></h4>
		<h4><span class="label label-danger">1)	La reserva de hotel corre por cuenta de cada uno, (y la elección en el casillero es sólo a los fines informativos,</span></h4>
		<h4><span class="label label-danger">para que este CPCE anfitrión conozca donde se alojará);</span></h4>
		<h4><span class="label label-danger">2)	La inscripción se considerará efectiva una vez que el importe correspondiente haya sido abonado en su CPCE</span></h4>
		<h4><span class="label label-danger">de origen (en el que se encuentre matriculado/a).</span></h4>
	</div>
	{{ parent() }}
{% endblock %}

{% block panelheading %}
    <div class="float-left">
        <h3>
	        <i class="glyphicon glyphicon-thumbs-up"></i>
	        <strong>BIENVENIDO/A A LAS II JORNADAS DE ORGANIZACIONES SOCIALES!!</strong>
    	</h3>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
    	//oculto al cargar la vista y valores por defecto
    	$("#org_sociales_tipopago option[value='1']").hide();
    	$("#org_sociales_tipopago option[value='2']").hide();
    	$("#org_sociales_area option[value='-']").hide();
    	var provincia = document.getElementById("org_sociales_provincia").value;
    	var categoria = document.getElementById("org_sociales_categoria").value;
    	var tipo 	  = document.getElementById("org_sociales_tipopago").value;

		$("#org_sociales_provincia").change(function() {
			provincia = document.getElementById("org_sociales_provincia").value;
			if (provincia == 'Chaco') {
				$("#org_sociales_tipopago option[value='0']").show();
	    		$("#org_sociales_tipopago option[value='1']").show();
	    		$("#org_sociales_tipopago option[value='2']").hide();
			} else {
				$("#org_sociales_tipopago option[value='0']").show();
	    		$("#org_sociales_tipopago option[value='1']").hide();
	    		$("#org_sociales_tipopago option[value='2']").hide();
	    		document.getElementById("org_sociales_tipopago").value = 0;
	    		document.getElementById("org_sociales_importe").value = 900;
			}
			if (categoria == "Acompañante") {
	    		//org_sociales_provincia
	    		$("#org_sociales_tipopago option[value='0']").hide();
	    		$("#org_sociales_tipopago option[value='1']").hide();
	    		$("#org_sociales_tipopago option[value='2']").show();
	    		//
	    		$("#org_sociales_area option[value='Asociaciones Civiles y Fundaciones']").hide();
	    		$("#org_sociales_area option[value='Cooperativas']").hide();
	    		$("#org_sociales_area option[value='Mutuales']").hide();
	    		$("#org_sociales_area option[value='-']").show();
	    		//
	    		document.getElementById("org_sociales_area").value = '-';
	    		document.getElementById("org_sociales_tipopago").value = 2;
	    		document.getElementById("org_sociales_importe").value = 600;
	    	}
		});

    	$("#org_sociales_categoria").change(function() {
    		categoria = document.getElementById("org_sociales_categoria").value;
    		if (categoria == "Acompañante") {
	    		//org_sociales_provincia
	    		$("#org_sociales_tipopago option[value='0']").hide();
	    		$("#org_sociales_tipopago option[value='1']").hide();
	    		$("#org_sociales_tipopago option[value='2']").show();
	    		//
	    		$("#org_sociales_area option[value='Asociaciones Civiles y Fundaciones']").hide();
	    		$("#org_sociales_area option[value='Cooperativas']").hide();
	    		$("#org_sociales_area option[value='Mutuales']").hide();
	    		$("#org_sociales_area option[value='-']").show();
	    		//
	    		document.getElementById("org_sociales_area").value = '-';
	    		document.getElementById("org_sociales_tipopago").value = 2;
	    		document.getElementById("org_sociales_importe").value = 600;
	    	} else {
	    		//
	    		if (provincia == 'Chaco') {
					$("#org_sociales_tipopago option[value='0']").show();
		    		$("#org_sociales_tipopago option[value='1']").show();
		    		$("#org_sociales_tipopago option[value='2']").hide();
				} else {
					$("#org_sociales_tipopago option[value='0']").show();
		    		$("#org_sociales_tipopago option[value='1']").hide();
		    		$("#org_sociales_tipopago option[value='2']").hide();
				}
	    		//
	    		$("#org_sociales_area option[value='Asociaciones Civiles y Fundaciones']").show();
	    		$("#org_sociales_area option[value='Cooperativas']").show();
	    		$("#org_sociales_area option[value='Mutuales']").show();
	    		$("#org_sociales_area option[value='-']").hide();
	    		document.getElementById("org_sociales_area").value = 'Asociaciones Civiles y Fundaciones';
	    		document.getElementById("org_sociales_tipopago").value = 0;
	    		document.getElementById("org_sociales_importe").value = 900;
	    	}	
		});
		$("#org_sociales_tipopago").change(function() {
			tipo = document.getElementById("org_sociales_tipopago").value;
			if(tipo == 0) {
			    document.getElementById("org_sociales_importe").value = 900;
			} else {
				document.getElementById("org_sociales_importe").value = 600;
			}
		});
    </script>
{% endblock %}

