{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block buttonsbelow %}
	{{ parent() }}
    <a class="btn btn-danger float-right" href="{{ path('inscripcion_pdf', {'id': entity.id }) }}">
        Imprimir PDF
    </a>		
{% endblock %}
